.contacts {
    background-image: linear-gradient(to top, rgba(30,35,38,0.6), rgba(30,35,38,0.7)), url(../Assets/Mapamundi.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacts .content-section {
    max-width: 1100px;
    margin: auto;
}

.contacts h2 {
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px 0;
}

.contacts .form {
    display: flex;
}

.contacts .col {
     background-color: #5894ee;
     font-size: 20px;
     border-radius: 5% 5% 0% 0%; 
     width: 40%;
     padding: 10px;
     text-align: center; 
     position: relative; 
}

.contacts .file {
        display: flex; 
        flex-direction: row;
      }
      
 .contacts label {
    font-size: 22px;
    font-weight: bold;
}

.contacts .col input, .contacts form textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: solid 3px;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
    
}

.contacts .col .button {
    cursor: pointer;
}

.contacts .col .button:hover {
    background-color: #f8cd55;
}

.contacts .col2 { 
    flex: 1;
}


.contacts .col2 img {
    width: 100%;
    margin-left: 10%;
    margin-top: 2%; 
    border-radius: 10%;
}

.contacts .col2 .info {
    background-color: #5894ee;
    font-size: 15px;
    position: absolute;
    margin-top: 7%;
    margin-left: 21%;
    border: solid 3px; 
    border-radius: 5%;
    padding: 10px;
    width: 300px;   
    left: 50%;
    transform: translate(-50%, -50%);
}


.contacts .col2 .info ul {
    list-style: none;
    text-align: left;  
    font-weight: bold;
    
}

.contacts .col2 .info ul li img {
    filter: invert(100%);
    width: 20px;
    padding-right: 2%;
    padding-top: 3%;
    
}


.contacts .col2 .info ul li {
    padding-bottom: 2%;
    
}

